repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
-   repo: https://github.com/aws-cloudformation/cfn-python-lint
    rev: v0.54.0  # Use a versão mais recente
    hooks:
    -   id: cfn-python-lint
        files: \.(json|yaml|yml)$
        exclude: \.pre-commit-config\.yaml$|cz\.yaml$

-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.17.12  # Use a versão mais recente
    hooks:
    -   id: commitizen
        stages: [commit-msg]
